<nav class="navbar navbar-expand-lg navbar-light">
  <%= link_to "LVG", root_path, class:"navbar-brand white"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex justify-content-end mr-5" id="navbarSupportedContent">
    
    <form class="form-inline my-2 my-lg-0 search-form none" action="/search">
      <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
      <button class="button-search my-2 my-sm-0" type="submit">Search</button>
    </form>

    <button class="cart-logo button-search-logo mb-0 ml-3 mr-3 mt-4" id="button-search-logo"><i class="fas fa-search"></i></button>

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mb-0 ml-3 mr-3 mt-4 cart-logo" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-user"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <%=link_to 'Mes produits', products_path, class:'dropdown-item' %>
            <%=link_to 'Mes commandes', orders_path, class:'dropdown-item' %>
            <%=link_to 'Mes favoris', products_path, class:'dropdown-item' %>
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
          <% else %>
            <%= link_to "Se connecter", new_user_session_path, class:"dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Créer un compte", new_user_registration_path, class:"dropdown-item"%>
          <% end%>
        </div>
      </li>
    </ul>

    <%= link_to cart_path(@cart), class:' mb-0 ml-3 mr-3 mt-4 cart-logo' do%>
    <% sum = 0 %>
      <i class="fas fa-shopping-cart"><span class="number-product"><% @cart.cart_products.each{ |x| sum += x.quantity } %><%= sum %></span></i>      
    <% end %>
    
  </div>
</nav>