<div class="background-cart">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="flex-section section">
                    <h2 class="header-cart"> Mes commandes</h2>
                    <%=link_to home_path, class:"button-return-shop" do %>
                        <p class="mb-0 para-contact">Retour au shopping <i class="fas fa-arrow-right ml-2"></i></p>
                    <% end %> 
                </div>
            </div>
        </div>

        <% unless current_user.orders.count == 0 %>
            <div class="row">
                <div class="col-lg-12 col-12 mx-auto">
                    <% current_user.orders.each do |order| %>
                        <div class="card-product-cart d-flex mb-5 mt-5 mx-auto">
                            <div class="info-in-my-order">
                                <div class="d-flex-info-banner-order section p-0">
                                    <p class="para-contact">Commande effectué le <%= order.created_at.strftime("%d %B %Y")%> <span class="badge badge-primary para-contact ml-3"><%= order.state %></span></p>
                                    <div class="d-flex-columnn">
                                        <p class="mb-1 hide">Total</p>
                                        <p class="gold mb-1"><%= order.amount %> €</p>
                                    </div>
                                    <div class="flex-order">
                                        <%= link_to 'Détails', order_path(order) , class:"para-contact button-order-suivis mb-3"%>
                                        <%= link_to order_path(order), class:"", method: :delete, data: {confirm: "Êtes-vous sûre de vouloir supprimer cette commande ?"}  do %>
                                            <p><i class="gold icone-cart far fa-trash-alt"></i></p>
                                        <% end %>
                                    </div>
                                </div>

                                <% order.order_products.each do |order_product| %>
                                    <div class="card-product-order d-flex">
                                        <% if order_product.product.photo.attachment.nil? %>
                                            <img src="https://media.artsper.com/artwork/227887_1_grid@2x.jpg?MjIyOTI2NDkxNjAxMTE5MDEx" alt="" class="image-cart">
                                        <% else%>
                                            <%= cl_image_tag order_product.product.photo.key, class: "image-order", crop: :fill %>
                                        <% end %>
                                        <div class="info-in-my-order-info">
                                            <%# <div class="info-product-in-cart">
                                            </div> %>
                                                <h5 class="title-product-cart"><%= order_product.product.name.capitalize %></h5>
                                                <p class="cart-price-product-order"><%= humanized_money(order_product.product.price) %> €</p>
                                            <%# <div class="ml-2 div-price-cart">
                                            </div> %>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        <% else %>
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="card-no-product text-center">
                        <div class="border-circle-info">
                            <p class="info-font">i</p>
                        </div>
                        <p class="m-0 para-contact font-info-text">Vous n'avez passé aucune commande à ce jour</p>
                    </div>
                </div>
            </div>
        <% end %>


    </div>
</div>