<div class="container mb-5">
    <%= link_to "Add", new_product_path(@product), class:"button-add"%>
    <div class="row">
        <% @products.each do |product|%>
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="card card-product" style="width: 18rem;">
                    <%= link_to image_tag("https://cdn1.sklum.com/fr/774532/pack-de-2-chaises-en-velours-glamm.jpg"), product_path(product), class:"product-image" %>
                    <div class="card-body">
                        <div>
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title gold"><%= product.name.capitalize %></h5>
                                <p class="card-text price"><%= product.price %>€</p>
                            </div>
                            <div class="d-flex justify-content-between mt-1">
                                <p class="card-text category"><%= product.category.capitalize %></p>
                            </div>
                            <h6 class="card-title mt-1">
                                <%= link_to product.user.name.capitalize, product_path(product), class:"button-product"%>
                            </h6>
                        </div>
                        <button class="button-heart btn-heart-index none"><i id="" class="button-like far fa-heart"></i></button>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>