<div class="container mt-5">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-7 mx-auto">
            <div class="block-form">
                <%= simple_form_for @product do |f|%>
                <%= f.input :name %>
                <%= f.input :price %>
                <%= f.input :category %>
                <%= f.input :tag %>
                <%= f.input :photo, as: :file %>
                <%= f.button :submit, class: "btn btn-primary" %>
                <% end %>
            </div>
        </div>
    </div>
</div>