<body class="body-bg">
    <div class="container h-100">
        <!-- <%= link_to "All Products", products_path(@products), class:"button-add"%> -->
        <div class="row h-100 flex-product">
            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">
                <div class="width-700 margin-bottom-5">
                    <% if @product.photo.attachment.nil? %>
                        <img src="https://media.artsper.com/artwork/227887_1_grid@2x.jpg?MjIyOTI2NDkxNjAxMTE5MDEx" alt="" class="image-show-product center mt-5 mb-2">
                    <% else%>
                        <%= cl_image_tag @product.photo.key, class: "image-show-product center mt-5 mb-2", crop: :fill %>
                    <% end %>
                    <div class="ml-3 mr-3">
                        <div class= "section">
                            <h4 class="name-product"><%= @product.name.split(' ').each{ |x| x.capitalize! }.join(' ') %>, <span class="year"><%= @product.created_at.year %></span></h4>
                        </div>
                        
                        <div class="width-propos">
                            <div class="d-flex">
                                <h4 class="gold mr-3"><i class="fas fa-vector-square"></i></h4>
                                <h4 class="mb-3">À propos de cette oeuvre</h4>
                            </div>
                            <% if @product.description.nil? || @product.description == ""%>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat eius quisquam sed perspiciatis aliquam saepe molestias tempore suscipit assumenda non, delectus odit aut, expedita rerum soluta provident sequi commodi aliquid.</p>
                            <% else %>
                                <p><%= @product.description %></p>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 back-product">
                <div class="info-product">
                    <div class="section-none w-100">
                        <% arr = [] %>
                        <% Order.all.each do |order| %>
                            <% order.order_products.each do |order_product| %>
                                <% arr << order_product.product_id %>
                            <% end %>
                        <% end %>
                        <% if arr.include?(@product.id) %>
                            <p class="info-price">PRIX</p>
                            <p class="price-show gold opacity-grey"><%= humanized_money(@product.price) %> €</p>
                        <% else %>
                            <p class="info-price">PRIX</p>
                            <p class="price-show gold"><%= humanized_money(@product.price) %> €</p>
                        <% end %>
                        <p class="livraison">Livraison & retour gratuits partout dans le monde</p>
                        <% if arr.include?(@product.id) %>
                            <button class="button-cart-vendu">VENDU</button>
                        <% else %>
                            <%= button_to 'Ajouter au panier', cart_products_path(product_id: @product), class:'button-cart button-add-in-show' %>
                        <% end %>
                        <div class="d-flex justify-content-center mt-3">
                            <a href=""><i class="icone-info-price far fa-heart"></i></a>
                            <a href=""><i class="icone-info-price far fa-envelope"></i></a>
                            <a href=""><i class="icone-info-price fas fa-share-alt"></i></a>
                        </div>
                    </div>
                    <div class="text-center section w-100 icone-none">
                        <p class="gold livraison-icon"><i class="fas fa-truck"></i></p>
                        <p class="livraison">Livraison sous 7 jours en moyenne</p>
                    </div>
                    <div class="pd-20 icone-none">
                        <div class="d-flex justify-content-between mb-2">
                            <p class="gold livraison-icon mr-5"><i class="fas fa-truck"></i></p>
                            <p>La livraison est assurée de bout en bout par LVG.</p>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <p class="gold livraison-icon mr-5"><i class="fas fa-box"></i></p>
                            <p>LVG applique le délai de rétractation de 14 jours, qui court à partir du jour de réception de l'oeuvre chez vous.</p>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <p class="gold livraison-icon mr-5"><i class="fas fa-lock"></i></p>
                            <p>Sur LVG, vous payez en toute sécurité par carte ou virement bancaires.</p>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <p class="gold livraison-icon mr-5"><i class="fas fa-check-circle"></i></p>
                            <p>LVG garantit sérieux et traçabilité.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="test">
        <div class="row">
            <div class="col-12">
                <h4 class="other-product-artist">Autres oeuvres de <%= @product.user.name.capitalize %></h4>
                <div class="flex-columnn";>
                    <% @product.user.products[0..3].each do |product| %>
                        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 ">
                            <div class="other-product-div m-2">
                                <% if product.photo.attachment.nil? %>
                                    <%= link_to image_tag("https://cdn1.sklum.com/fr/774532/pack-de-2-chaises-en-velours-glamm.jpg"), product_path(product), class:"product-image" %>
                                    <p class="name-product-other"><%= product.name.capitalize %> - <%= humanized_money(product.price) %> €</p>
                                <% else %>
                                    <%= link_to product_path(product), class:"border-none-product" do %>
                                        <%= cl_image_tag product.photo.key, class: "product-image", crop: :fill %>
                                        <p class="name-product-other pt-2"><%= product.name.capitalize %> - <%= humanized_money(product.price) %> €</p>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</body>